apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: staging

resources:
- ../../base

replicas:
- name: sample-app
  count: 3

images:
- name: nginx
  newTag: stable

configMapGenerator:
- name: app-config
  literals:
  - ENVIRONMENT=staging
  - LOG_LEVEL=info

patchesStrategicMerge:
- |-
  apiVersion: apps/v1
  kind: Deployment
  metadata:
    name: sample-app
  spec:
    template:
      spec:
        containers:
        - name: sample-app
          env:
          - name: ENVIRONMENT
            valueFrom:
              configMapKeyRef:
                name: app-config
                key: ENVIRONMENT
          - name: LOG_LEVEL
            valueFrom:
              configMapKeyRef:
                name: app-config
                key: LOG_LEVEL

